/* @import url("__animation.css"); */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 2rem 4rem;
    font-size: 1.6rem;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.todo-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2rem;
}
.todo-box--card__select {
    top: 5%;
    right: 5%;
}

.todo-modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    position: fixed;
    min-width: 40rem;
    min-height: 40rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 2px 0 3px rgba(0, 0, 0, 0.11);
    z-index: 1;
    animation: modal-scale 0.2s ease;
}
.todo-modal--close {
    align-self: flex-start;
    justify-self: flex-end;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.todo-modal > button {
    background: none;
    border: none;
    color: #9775fa;
    border: 1px solid #9775fa;
}
.todo-modal > button:hover {
    color: #fff;
    background-color: #b197fc;
}
.todo-modal > button:active {
    background-color: #845ef7;
}
.input > input {
    padding: 0.8rem;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    justify-content: center;
}
.alert-modal {
    display: grid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    min-width: 50rem;
    min-height: 10rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 2px 0 3px rgba(0, 0, 0, 0.11);
    z-index: 2;
}
.alert-modal--close {
    background: none;
    border: none;
    color: #9775fa;
    border: 1px solid #9775fa;
    justify-self: flex-end;
    align-self: flex-start;
    justify-self: flex-end;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.alert-modal--close:hover {
    color: #fff;
    background-color: #b197fc;
}
.alert-modal--close:active {
    background-color: #845ef7;
}
.alert-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-new-todo-btn {
    justify-self: flex-end;
    width: 8rem;
    border-radius: 1rem;
    padding: 1rem;
}
.add-card {
    position: relative;
}
.add-card__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.add-card--text {
    font-size: 2rem;
}
.add-card__btn {
    background: none;
    border: none;
}
.add-card__icon {
    fill: #b197fc;
    border: 1px solid #9775fa;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    transition: background-color 0.2s;
}
.add-card__icon:hover,
.add-card__icon:visited {
    fill: #fff;
    background-color: #b197fc;
}
.add-card__icon:active {
    background-color: #845ef7;
}

.card--layout {
    display: flex;
    flex-direction: column;
    min-width: 26rem;
    min-height: 26rem;
    padding: 4rem 2rem;
    border: 1px solid #f3f3f3;
    border-radius: 2rem;
    box-shadow: 0px 2px 0 3px rgba(0, 0, 0, 0.11);
    line-height: 2;
    cursor: pointer;
}
.hidden {
    display: none;
}
